<!--Navbar-->
<header class="h-100">
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo justify-content-center fixed-top scrolling-navbar" [containerInside]="false">

        
    
        <!-- Collapsible content -->
            
            <!-- Links -->
            
        
            
            <!--<a class="navbar-brand" href=""><b>IEEE ITBA &nbsp;&nbsp;</b></a>-->
            <div class="middle">
                
                <links>      
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link waves-light" mdbWavesEffect>IEEE-ITBA<span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link waves-light" mdbWavesEffect>Eventos<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-light" mdbWavesEffect>Calendario<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-light" mdbWavesEffect>Equipo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-light" mdbWavesEffect>Blog<span class="sr-only">(current)</span></a>
                    </li>
                    
                </ul>
                </links>  
            </div>
        <!-- Links -->

        <!-- Collapsible content -->
    
    </mdb-navbar>
  <!--/.Navbar-->
  </header>