<div class="text-content" fxLayoutAlign="center center"  fxLayout="row">
    <div>
        <h1>
            IEEE ITBA
        </h1>

        Somos una organización estudiantil del ITBA cuyo objetivo es generar pasión sobre la tecnología y sus aplicaciones. 
        Sostenemos contundentemente que tanto las habilidades duras como blandas son claves para poder prosperar en el mundo profesional, y en base a este convencimiento, proponemos en todas nuestras actividades mecanismos para fortificar ambos tipos de conocimientos.

        <h1>
            Alcance
        </h1>

        Proponemos actividades voluntarias 
    </div>
</div>